/* mobile responsive mobile responsive mobile responsive */
/* mobile responsive mobile responsive mobile responsive */
@media screen and (max-width: 576px) {
  nav {
    flex-direction: column;
    padding: 0;
    align-items: center ;
  }
  .logo-con {
    margin: 100px auto 60px;
  }
  .menus {
    flex-direction: column;
  }

  .banner {
    flex-direction: column-reverse;
  }
  .banner-img{
    margin-right: 50px;
    margin-left: 50px;
    max-width: calc(100% - 100px); /**/
  }
  .banner-content {
    padding: 30px;
    margin: 20px;
  }
  .game-featured{
    font-size: var(--font-14);
  }
  .common-btn{font-size: var(--font-16);}

  .we-are-gamer {
    flex-direction: column;
  }
  .we-are-gamer-content {
    text-align: center;
    margin: auto;
  }
  .online-games-con{
    flex-direction: column;
    align-items: center;
  }
  .play-instantly{
    flex-direction: column;
    margin: 40px;
  }
  .play-instantly-content{
    margin-right: 0;
    text-align: center;
  }
  .play-instantly-small-img{
    max-width: 130px;
    max-height: 150px;
    position: relative;
   top: 160px;
  }
  .play-instantly-big-img{
    max-width: 240px;
    max-height: 270px;
    object-fit: cover;
    position: relative;
    left: -80px;
  }


}

/* Tablet responsive Tablet responsive Tablet responsive */
/* Tablet responsive Tablet responsive Tablet responsive */
@media only screen and (min-width:576px) and (max-width: 968px) {
  nav {
    flex-direction: column;
    padding: 0;
  }
  .logo-con {
    margin: 100px auto 60px;
  }
  .menus {
    margin: auto;
  }

  .banner {
    flex-direction: column-reverse;
  }
  .banner-img {
    margin: auto;
  }
  .banner-content {
    margin: auto;
  }

  /* we-are-gamer section releted style */

  .we-are-gamer {
    flex-direction: column;
  }
  .we-are-gamer-img {
    margin: auto;
  }
  .we-are-gamer-content {
    text-align: center;
    margin: auto;
  }
    .online-games-con{
      gap: 0;
    flex-direction: column;
    align-items: center;
  }
  .play-instantly{
    flex-direction: column;
    margin: 6.25vw 12vw;
  }
  .play-instantly-content{
    margin: auto;
    text-align: center;
  }
}
