/* mobile responsive mobile responsive mobile responsive */
/* mobile responsive mobile responsive mobile responsive */
@media screen and (max-width: 576px) {
  nav {
    flex-direction: column;
    padding: 0;
    align-items: center;
  }
  .logo-con {
    margin: 100px auto 60px;
  }
  .menus {
    flex-direction: column;
  }

  .banner {
    flex-direction: column-reverse;
  }
  .banner-img {
    margin-right: 50px;
    margin-left: 50px;
    max-width: calc(100% - 100px); /**/
  }
  .banner-content {
    padding: 30px;
    margin: 20px;
  }
  .game-featured {
    font-size: var(--font-14);
  }
  .common-btn {
    font-size: var(--font-16);
  }

  .we-are-gamer {
    flex-direction: column;
  }
  .we-are-gamer-content {
    text-align: center;
    margin: auto;
  }
  .online-games-con {
    flex-direction: column;
    align-items: center;
  }
  .play-instantly {
    flex-direction: column;
  }
  .play-instantly-content {
    text-align: center;
  }
  .play-games-online {
    flex-direction: column;
  }
  .play-games-online-content {
    margin-left: 40px;
    text-align: center;
  }

  .play-instantly-small-img,
  .play-games-online-small-img {
    max-width: 115px;
    height: 135px;
    position: relative;
    top: 160px;
  }
  .play-instantly-big-img,
  .play-games-online-big-img {
    max-width: 220px;
    height: 245px;
    object-fit: cover;
  }
  .move-left {
    left: -70px;
  }
  .move-right {
    left: 70px;
  }

  .careers{
    flex-direction: column;
    padding: 40px;
  }
  .careers-content{
    margin: 0;
  }

  .role-playing{
  margin-left: 0px;
}
}

/* Tablet responsive Tablet responsive Tablet responsive */
/* Tablet responsive Tablet responsive Tablet responsive */
@media only screen and (min-width: 576px) and (max-width: 968px) {
  nav {
    flex-direction: column;
    padding: 0;
  }
  .logo-con {
    margin: 100px auto 60px;
  }
  .menus {
    margin: auto;
  }

  .banner {
    flex-direction: column-reverse;
  }
  .banner-img {
    margin: auto;
  }
  .banner-content {
    margin: auto;
  }

  /* we-are-gamer section releted style */

  .we-are-gamer {
    flex-direction: column;
  }
  .we-are-gamer-img {
    margin: auto;
  }
  .we-are-gamer-content {
    text-align: center;
    margin: auto;
  }
  .online-games-con {
    gap: 0;
    flex-direction: column;
    align-items: center;
  }
  .play-instantly {
    flex-direction: column;
    margin: 0 12vw 6.25vw;
  }
  .play-games-online {
    flex-direction: column;
    margin: 12.5vw 12vw 6vw 0;
  }
  .play-instantly-content,
  .play-games-online-content {
    margin: auto;
    text-align: center;
  }


  .careers{
    flex-direction: column;
    padding: 6.50vw;
    margin-top: 120px;
  }
  .careers-content{
    margin: 0;
  }
}
