/* mobile responsive mobile responsive mobile responsive */
/* mobile responsive mobile responsive mobile responsive */
@media screen and (max-width:576px) {
  nav{
    flex-direction: column;
    padding: 0;
    margin: auto;
  }
  .logo-con{
  
  }
  .menus{
    flex-direction: column;
  }

  .banner{
    flex-direction: column-reverse;
  }
  .banner-img{
  margin: 50px;
  }
  .banner-content{
    padding: 30px;
    margin: 20px;
  }

   .we-are-gamer{
    
    flex-direction: column;
  }
  .we-are-gamer-content{
    text-align: center;
    margin: auto;
  }

}


/* Tablet responsive Tablet responsive Tablet responsive */
/* Tablet responsive Tablet responsive Tablet responsive */
@media screen and (max-width:768px) {
  nav{
    flex-direction: column;
    padding: 0;
  }
  .logo-con{
    margin: 100px auto 60px;
  }
  .menus{
    margin: auto;
  }
 

  .banner{
    flex-direction: column-reverse;
  }
  .banner-img{
  margin: auto;
  }
  .banner-content{
    margin: auto;
  }

  /* we-are-gamer section releted style */

  .we-are-gamer{
    flex-direction: column;
 

  }
  .we-are-gamer-img{
    margin: auto;
  }
  .we-are-gamer-content{
    text-align: center;
    margin: auto;
  }

}
