/* shared style */
body {
  margin: 0;
}
*{
  box-sizing: border-box;
font-family: 'Work Sans';
}

:root{
  --font-16: 1rem;
  --font-18: 1.125rem;
  --font-20: 1.25rem;
  --font-32: 2rem;
  --font-45: 2.81rem;
  --font-48: clamp(2.25rem,2.5vw,3rem)
}


.common-btn{
  font-size: var(--font-20);
  font-weight: 600;
    display: inline-flex;
padding: 14px 30px;
align-items: flex-start;
gap: 10px;
border: none;
border-radius: 48px;

}


/* header section related styele */
header {
 flex-shrink: 0;
}
/* style of nav.........style of nav.............style of nav............style of nav*/

nav {
  padding: 2rem 12rem;
  display: flex;
  justify-content: space-between;
}
nav h2,h4{
  margin: 0;
}

.logo-con {
  display: flex;
  gap: 15px;
  align-items: center;
}
.logo-img {
  max-width: clamp(3.58rem,4.48vw,5.38rem);
  max-height: clamp(1.67rem,2.08vw,2.5rem);
}
.menus {
  display: flex;
  align-items: center;
  gap: 32px;
}
.youtube-tiktok-btn {
  padding: 16px 24px;
    display: flex; 
    gap: 24px;
    justify-content: center;
    align-items: center;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
}
/* end of navbar related style........end of navbar related style */

/* start of banner related style........start of banner related style */
.banner{

    display: flex;
    justify-content: space-between;
}
.banner-content{
  text-align: left;
  padding: 7.5vw 15.5vw 7.5vw 12.5vw;
  height: auto;
  background-image: url(../images/banner-con-bg.png);
  background-size: 100%;
object-fit: contain;
margin-right: 3rem;
fill: linear-gradient(235deg, rgba(140, 87, 238, 0.03) 3.9%, rgba(241, 68, 174, 0.03) 100.56%);
}
.banner-content h1,h2{
  margin: 0;
}
.banner-title{
  color: #0B0223;
font-family: Work Sans;
font-size: var(--font-48);
font-weight: 600;
text-transform: uppercase;
}
.goat{
font-family: Work Sans;
font-size: clamp(4rem,5vw,6rem);
font-style: normal;
font-weight: 800;
line-height: normal;
text-transform: uppercase;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.game-featured{
  color: #534C64;
font-family: Work Sans;
font-size: var(--font-20);
font-weight: 500;
white-space: nowrap;
}
.btn-group{
  margin-top: 40px;
}
.sign-in{
  margin-right: 24px;
  color: #FFF; 
background: var(--Linear, linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%));
}
.go-rogue{
  background: #4EC5F7; 
  color: #FFF; 
}
.banner-img{
  margin: 19px 160px 0 0;
  max-width: 540px;
  max-height: auto;
  /* max-width: 35vw;
  max-height: auto;  */
}
/* end of style of banner section */

/* start of style of main section */





























